@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px); /* Inicia 20px más abajo */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Termina en su posición original */
    }
  }

*{text-decoration: none;overflow-wrap: break-word;}

.main-serviceView{
    
}

.gg-logo-toHome{
    position: fixed;
    width: 3%;
    margin: 1%;
    z-index: 1;
}.gg-logo-toHome img{pointer-events: none;}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-image0,
.hero-image1,
.hero-image2 {
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-image0 {
    background-image: url('../../images/wallpers/wallper-webDev.webp'); 
}
.hero-image1 {
    background-image: url('../../images/wallpers/wallper-mobileDev.webp'); 
}
.hero-image2 {
    background-image: url('../../images/wallpers/wallper-marketing.webp'); 
}

.hero-image0 h1,
.hero-image1 h1,
.hero-image2 h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content-section {
    background-color: white;
    padding: 50px;
    font-size: 1.5rem;
}

.content-section .content {
    max-width: 800px;
    margin: auto auto 5%;
}

.content-section h2 {
    margin-top: 0;
}

.imgTec-container{
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 130px;
    padding: auto;
    margin-left: 25%;
}.imgTec-container img{margin: 20px;}
 .imgTec-container img:hover{scale: 1.2;}

.imgTec-container2{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 120px;
    padding: auto;
    margin-left: 15%;
}.imgTec-container2 img{margin: 20px;}
 .imgTec-container2 img:hover{scale: 1.2;}

 .faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.faq-answer {
    padding: 10px 0;
    font-size: 18px;
    color: #333;
}

.trb-j{
    display: flex;
    width: 90vw;
    margin-left: 5%;
    margin-bottom: 10%;
}

.rec-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    width: 300px;
    border-radius: 20px;
    padding: 1%;
    font-size: 14px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
    transition: all 0.1s;
}

.rec-plan:hover{
    transform: scale(1.02);
}

.rec-plan h4 {
    font-size: large;
    margin: auto;
}

.rec-plan hr{
    width: 100%;
}

.rec-plan-servs{
    height: 66%;
    margin: 1% 5% 5% 5%;
    overflow: hidden;
}

.rec-plan button {
    background-color: #5c1156;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px;
}.rec-plan button:hover {cursor: pointer;}

.table-tecs{
    border-collapse: collapse;
    border-radius: 10px;
}
.table-tecs:hover{box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);}

.table-tecs img{
    width: 60%;
    margin: 20%;
}
.table-tecs img:hover{
    transform: scale(1.2);
}

.table-tecs td{
    border: 1px #333 solid;
    border-radius: 10px;
    padding: 1%;
    font-size: 18px;
}

/*
    #Dispositivos de escritorio L
*/
@media (min-width: 1760px) {
    .trb-j{
        margin-left: 20%;
    }
}


/*
    #Dispositivos moviles (S y M), Portrait
*/
@media (min-width: 320px) and (max-width: 375px) and (orientation: portrait){   
    .gg-logo-toHome{
        width: 9%;
    }
    
    .content-section {
        padding: 40px;
        font-size: 1.5rem;
    }
    
    .content-section .content {
        max-width: 800px;
        margin: auto auto 5%;
    }
    
    .content-section h2 {
        margin-top: 0;
    }
    
    .imgTec-container{
        display: flex;
        flex-direction: row;
        width: 80px;
        height: 80px;
        padding: auto;
        margin-left: 15%;
    }.imgTec-container img{margin: 20px;}
     .imgTec-container img:hover{scale: 1.2;}
    
    .imgTec-container2{
        display: flex;
        flex-direction: row;
        width: 70px;
        height: 70px;
        padding: auto;
        margin-left: 1%;
    }.imgTec-container2 img{margin: 20px;}
     .imgTec-container2 img:hover{scale: 1.2;}
     .trb-j{
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-left: 1%;
        margin-bottom: 10%;
    }
    
    .rec-plan{
        margin-top: 5%;
        padding: 2%;
        width: 90%;
    }

    .table-tecs{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    
    .table-tecs img{
        width: 100%;
        margin: 0%;
    }
    
    .table-tecs td{
        font-size: 14px;
    }
}

/*
    #Dispositivos moviles (S y M), Landscape
*/
@media (min-width: 568px) and (max-width: 735px) and (orientation: landscape) {
    .gg-logo-toHome{
        position: fixed;
        width: 5%;
    }

    .imgTec-container{
        display: flex;
        flex-direction: row;
        width: 100px;
        height: 100px;
        padding: auto;
        margin-left: 25%;
    }.imgTec-container img{margin: 20px;}
     .imgTec-container img:hover{scale: 1.2;}
    
    .imgTec-container2{
        display: flex;
        flex-direction: row;
        width: 100px;
        height: 100px;
        padding: auto;
        margin-left: 15%;
    }.imgTec-container2 img{margin: 20px;}
     .imgTec-container2 img:hover{scale: 1.2;}
     
     .trb-j{
        width: 80vw;
     }

     .rec-plan-servs textarea{
            width: 95%;
     }
}

/*
    #Dispositivos moviles (L) y Tablets, Portrait
*/
@media (min-width: 376px) and (max-width: 768px) and (orientation: portrait){
    .gg-logo-toHome{
        width: 9%;
    }
    
    .content-section {
        padding: 40px;
        font-size: 1.5rem;
    }
    
    .content-section .content {
        max-width: 800px;
        margin: auto auto 5%;
    }
    
    .content-section h2 {
        margin-top: 0;
    }
    
    .imgTec-container{
        display: flex;
        flex-direction: row;
        width: 80px;
        height: 80px;
        padding: auto;
        margin-left: 15%;
    }.imgTec-container img{margin: 20px;}
     .imgTec-container img:hover{scale: 1.2;}
    
    .imgTec-container2{
        display: flex;
        flex-direction: row;
        width: 70px;
        height: 70px;
        padding: auto;
        margin-left: 5%;
    }.imgTec-container2 img{margin: 20px;}
     .imgTec-container2 img:hover{scale: 1.2;}
     .trb-j{
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .table-tecs{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    
    .rec-plan{
        margin-top: 5%;
        padding: 2%;
    }
    
    .table-tecs img{
        width: 100%;
        margin: 0%;
    }
    
    .table-tecs td{
        font-size: 16px;
    }
}

/*
    #Dispositivos moviles (L) y Tablets, Landscape
*/
@media (min-width: 736px) and (max-width: 1024px) and (orientation: landscape) {
    .gg-logo-toHome{
        position: fixed;
        width: 5%;
    }

    .imgTec-container{
        display: flex;
        flex-direction: row;
        width: 100px;
        height: 100px;
        padding: auto;
        margin-left: 25%;
    }.imgTec-container img{margin: 20px;}
     .imgTec-container img:hover{scale: 1.2;}
    
    .imgTec-container2{
        display: flex;
        flex-direction: row;
        width: 100px;
        height: 100px;
        padding: auto;
        margin-left: 15%;
    }.imgTec-container2 img{margin: 20px;}
     .imgTec-container2 img:hover{scale: 1.2;}
     
     .rec-plan-servs textarea{
        width: 95%;
        }
        .trb-j{
            margin-left: 0;
        }
}