* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  background-color: #2D0130;
}

main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  left: 0; top: 10vh;
  background-color: #F4F4F4;
  overflow-y: auto; /* Permite el desplazamiento vertical */
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  box-sizing: border-box; /* Asegura que el padding y el border no causen overflow */
}

/*Estilos para home*/

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10%;
  margin-top: 10%;
  width: 100%;
  background-color: #F4F4F4;
}

.home-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

.home-logo {
  background: none;
  height: 20vw; 
  width: 20vw;
  margin: 5%;
}

/*Otros*/
.social-icons {
  color: #fff;
  width: 2vw;
  height: 2vw;
  margin: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 20vh;
  background-color: #01200B;
  color: #fff;
  padding-top: 3%;
}

footer p {
  font-size: 1vw;
}

.footer-second {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000903;
  color: #fff;
  margin-top: 10px;
  padding: 3% 0; /* Añadido para espacio interior */
}

.footer-second p {
  font-size: 1vw;
}


.purple-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3E0B3A;
  height: 12vw; 
  width: 12vw;
  border-radius: 12%;
  margin: 5%; 
  padding: 5%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 
              0 6px 6px rgba(0, 0, 0, 0.22); /* Sombra más pronunciada */
  transition: box-shadow 0.3s ease, transform 0.3s; /* Transición para el efecto de hover */
}

.purple-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5), 
              0 10px 10px rgba(0, 0, 0, 0.4); /* Sombra más intensa en hover */
  transform: scale(1.1);
}

.purple-box a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-wrap: nowrap;
  font-size: 1.4vw;
  margin: 5%;
}

.purple-box img {
  width: 90%;
  height: 90%;
  cursor: pointer;
}


.purple-box-img-link {
  width: 60%;
  height: 60%;
  cursor: pointer;
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 991.98px) {
  
  /*Estilos para home*/
  
  .home-content {
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    margin-top: 50vh;
  }
  
  .home-content-box {
    align-items: center;
    margin: 0 5%;
  }
  
  .home-logo {
    height: 40vw; 
    width: 40vw;
    margin: 5%;
  }
  
  /*Otros*/
  .social-icons {
    color: #fff;
    width: 4vw;
    height: 4vw;
    margin: 10px;
  }
  
  footer {
    min-height: 15vh;
    padding-top: 3%;
  }
  
  footer p {
    font-size: 2vw;
  }
  
  .footer-second {
    margin-top: 10px;
    padding: 3% 0; /* Añadido para espacio interior */
  }
  
  .footer-second p {
    font-size: 2vw;
  }
  
  .purple-box {
    height: 30vw; 
    width: 30vw;
    border-radius: 12%;
    margin: 5%; 
    padding: 5%;
  }
  
  .purple-box a {
    font-size: 3.3vw;
    margin: 5%;
  }
  
  .purple-box img {
    width: 90%;
    height: 90%;
    cursor: pointer;
  }
  
  
  .purple-box-img-link {
    width: 60%;
    height: 60%;
    cursor: pointer;
  }
}


/* Estilos para dispositivos móviles */
@media only screen and (min-width:320px) and (max-width:480px){

main {
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.home-content {
  flex-direction: column;
  padding: 0;
  margin-top: 60%;
}

.home-content-box {
  flex-direction: column;
  margin: 0 5%;
}

.home-logo {
  height: 60vw; 
  width: 60vw;
}

/*Otros*/
.social-icons {
  width: 8vw;
  height: 8vw;
}

footer p {
  font-size: 4vw;
}

.footer-second {
  padding: 10% 0; /* Añadido para espacio interior */
}

.footer-second p {
  font-size: 3vw;
}

.purple-box {
  height: 40vw; 
  width: 40vw;
}

.purple-box a {
  font-size: 3.4vw;
}
}