* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
}

main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  left: 0; top: 10vh;
  background-color: #F4F4F4;
}

/*Estilos para home*/

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.home-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
}

.home-logo {
  height: 260px; 
  width: 260px;
  margin: 5%;
}

/*Otros*/
.social-icons {
  color: #fff;
  margin: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  background-color: #01200B;
  color: #fff;
  padding: 20px 0;
}

.footer-second {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000903;
  color: #fff;
  margin-top: 10px;
  padding: 15px 0; /* Añadido para espacio interior */
}


.purple-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3E0B3A;
  height: 150px; 
  width: 150px;
  border-radius: 20px;
  margin: 5%; 
  padding: 5%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 
              0 6px 6px rgba(0, 0, 0, 0.22); /* Sombra más pronunciada */
  transition: box-shadow 0.3s ease; /* Transición para el efecto de hover */
}

.purple-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5), 
              0 10px 10px rgba(0, 0, 0, 0.4); /* Sombra más intensa en hover */
}

.purple-box a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  margin: 5%;
}

.purple-box img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
