html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.main {
    background: rgb(78, 1, 111);
    background: linear-gradient(0deg, rgba(78, 1, 111, 1) 18%, rgba(189, 138, 255, 1) 60%, rgba(254, 122, 255, 1) 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-box {
    border: 5px solid white;
    border-radius: 10px;
    padding: 1%;
    width: 80vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

.header h1 {
    grid-column: 2 / span 2;
    justify-self: center;
    align-self: center;
    grid-row: 1 / 2;
    font-size: 70px;
    margin: 10px;
}

.header img {
    transform: rotate(20deg);
    grid-column: 3 / span 1;
    grid-row: 1/2;
    justify-self: end;
    width: 120px;
    z-index: 1;
    margin-top: -30px;
    margin-left: 70px;
}


h1,
h3,
h4 {
    color: white;
}

h1 {
    margin: 10px;
    font-size: 50px;
}

h3 {
    font-size: 35px;
}
i{
    color: white;
    font-size: 30px;
}


/* contenido de  formulario */
.item1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    margin: 10px;
    padding: 5%;
    width: 100%;
}

/* fin de contenido de formulario */

/* seccion de opciones de inicio de sesion */
.item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.item2 div {
    margin: 5px;
    display: flex;
}

.item2 div:first-child {
    justify-self: center;
    align-items: center;
}

.item2 div:nth-child(2) {
    align-items: center;
}
.item2 div:nth-child(2) h4{
    font-size: 20px;
}
.item2 div a {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #3E0B3A;
    border-radius: 50%;
    color: #fff;
    padding: 7px;
    margin: 2px;
}


/* fin de seccion de opciones de inicio de sesion */

/* seccion de enviar formulario y crear nueva cuenta */
.item3 {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.item3 button {
    justify-self: center;
    align-self: center;
    grid-column: 2 / 3;
    background-color: #fff;
    color: #3E0B3A;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    width: 70%;
    height: 60%;
}

.item3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item3 a {
    background-color: #3E0B3A;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
    padding: 10px;
}

.item3 h4 {
    grid-column: 2/3;
    font-size: 15px;
}

/* fin de seccion de enviar formulario y crear nueva cuenta */
.item1 input {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding-left: 4%;
    padding-right: 4%;
}

input::placeholder {
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .main {
        background: rgb(78, 1, 111);
        background: linear-gradient(0deg, rgba(78, 1, 111, 1) 18%, rgba(189, 138, 255, 1) 60%, rgba(254, 122, 255, 1) 94%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    .main-box {
        border: 5px solid white;
        border-radius: 10px;
        padding: 1%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 10px;
    }
    .item1 {
        display: grid;
        grid-template-columns: 2fr;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 10px;
        padding: 5%;
        width: 100%;
    }

    .item1 input {
        background-color: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 8px;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 4%;
        padding-right: 4%;
        width: 80%;
        justify-self: center;
    }
    .item1 h3{
        align-self: center;
        justify-self: center;
    }
    input::placeholder {
        color: white;
        font-size: 20px;
        text-align: center;
    }
    
    .header h1 {
        grid-column: 2 / span 2;
        justify-self: center;
        align-self: center;
        grid-row: 1 / 2;
        font-size: 50px;
        margin: 10px;
    }
    
    .header img {
        transform: rotate(20deg);
        grid-column: 3 / span 1;
        grid-row: 1/2;
        justify-self: end;
        width: 100px;
        z-index: 1;
        margin-top: -30px;
        margin-left: 130px;
    }
    
    .item2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    .item2 div {
        margin: 5px;
        display: flex;
    }

    .item2 div:first-child {
        justify-self: center;
        align-items: center;
        margin: 10px;
    }

    .item2 div:nth-child(2) {
        align-items: center;
        margin: 10px;
    }

    .item2 div a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3E0B3A;
        border-radius: 50%;
        color: #fff;
        padding: 15px;
        margin: 10px;
    }
    .item2 i{
        font-size: 30px;
    }
    h3{
        font-size: 30px;
    }
    /*styles for item 3*/
    
    .item3 button {
        justify-self: center;
        align-self: center;
        grid-column: 2 / 3;
        background-color: #fff;
        color: #3E0B3A;
        border: none;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
    
    .item3 div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .item3 a {
        background-color: #3E0B3A;
        justify-self: center;
        align-self: center;
        border-radius: 30px;
        padding: 15px;
    }
    .item3 i{
        font-size: 30px;
    }
    .item3 h4 {
        grid-column: 2/3;
        font-size: 15px;
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1000px){
    .main {
        background: rgb(78, 1, 111);
        background: linear-gradient(0deg, rgba(78, 1, 111, 1) 18%, rgba(189, 138, 255, 1) 60%, rgba(254, 122, 255, 1) 94%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    .main-box {
        border: 5px solid white;
        border-radius: 10px;
        padding: 1%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 10px;
    }
    .item1 {
        display: grid;
        grid-template-columns: 2fr;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 10px;
        padding: 5%;
        width: 100%;
    }

    .item1 input {
        background-color: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 8px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 4%;
        padding-right: 4%;
        width: 70%;
        justify-self: center;
    }
    .item1 h3{
        align-self: center;
        justify-self: center;
        font-size: 45px;
    }
    input::placeholder {
        color: white;
        font-size: 30px;
        text-align: center;
    }
    
    .header h1 {
        grid-column: 2 / span 2;
        justify-self: center;
        align-self: center;
        grid-row: 1 / 2;
        font-size: 70px;
        margin: 10px;
    }
    
    .header img {
        transform: rotate(20deg);
        grid-column: 3 / span 1;
        grid-row: 1/2;
        justify-self: end;
        width: 100px;
        z-index: 1;
        margin-top: -30px;
        margin-left: 130px;
    }
    
    .item2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    .item2 div {
        display: flex;
        margin: 5px;
    }

    .item2 div:first-child {
        justify-self: center;
        align-items: center;
        margin: 10px;
    }

    .item2 div:nth-child(2) {
        align-items: center;
        margin: 10px;
    }

    .item2 div a {
        display: flex;
        align-items: center;
        justify-items: center;
        background-color: #3E0B3A;
        border-radius: 50%;
        color: #fff;
        padding: 15px;
        margin: 15px;
        width: 80px;
        height: 70px;
    }
    .item2 i{
        font-size: 50px;
    }
    .item2 h4{
        font-size: 30px;
    }
    h3{
        font-size: 30px;
    }
    /*styles for item 3*/
    
    .item3 button {
        justify-self: center;
        align-self: center;
        grid-column: 2 / 3;
        background-color: #fff;
        color: #3E0B3A;
        border: none;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        cursor: pointer;
        width: 90%;
        height: 90%;
        font-size: 30px;
    }
    
    .item3 div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .item3 a {
        background-color: #3E0B3A;
        justify-self: center;
        align-self: center;
        border-radius: 50px;
        padding: 15px;
    }
    .item3 i{
        font-size: 60px;
        color: white;
    }
    .item3 h4 {
        grid-column: 2/3;
        font-size: 35px;
        display: none;
    }
}