/*Estilos para barra de navegacion*/
nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0; left: 0;
    align-items: center;
    background-color: #3E0B3A;
    width: 100%;
    height: 10vh;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
    transition: color 0.3s;
    margin: 1%;
}

nav a:hover {
    color: #ccc;
}

nav a:active {
    color: #fff;
}

nav button {
    display: flex; 
    position: fixed; 
    right: 1vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10%; 
    height: 6%;
    background-color: #831675;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 1%;
    padding: 0;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #700e60;
}

nav button:active {
    background-color: #5c0a4c;
}

nav img {
    width: 3vw;
    height: 3vw;
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
    nav a {
        font-size: 3.2vw;
    }
    
    nav button {
        width: 25%; 
        height: 6%;
    }
    
    nav img {
        width: 3vw;
        height: 3vw;
    }
}

/* Estilos para dispositivos móviles */
@media only screen and (min-width:320px) and (max-width:480px){
 
nav a {
    font-size: 3.2vw;
}

nav button {     
    width: 20%; 
    height: 6%;
}

nav img {
    width: 3vw;
    height: 3vw;
}
}