body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: rgb(0,74,23);
    background: linear-gradient(90deg, rgba(0,74,23,1) 0%, rgba(0,125,39,1) 50%, rgba(0,74,23,1) 100%);
}

.card-container {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.card-container img {
    display: block;
}

.corner {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: transparent;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}
